name: terraform-pr-plan
# on: [push, pull_request]
on:
  pull_request:
    branches: [ main ]
    paths:
      - "stacks/**"
      - "**/*.tf"
      - "**/*.tfvars"
      - "**/*.hcl"
      - ".github/workflows/terraform-apply.yml"
      - ".github/workflows/terraform-plan.yml"
  push:
    branches: [ main ]
    paths:
      - "stacks/**"
      - "**/*.tf"
      - "**/*.tfvars"
      - "**/*.hcl"
      - ".github/workflows/terraform-apply.yml"
      - ".github/workflows/terraform-plan.yml"

permissions:
  id-token: write
  contents: read

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ROLE_NAME: github-actions-oidc
  AWS_REGION_OIDC: us-east-1

jobs:
  plan:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        env: [ dev, stage, prod ]
        stack_path:
          - stacks/web/core-api-gateway

    environment: ${{ matrix.env }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION_OIDC }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Compute per each iteration of matrix:
      # stack_name = last segment of stack_path
      # plan_file  = <stack_name>_<env>.tfplan
      - name: Compute Plan Name
        id: plan_metadata
        shell: bash
        run: |
          set -euo pipefail
          stack_name="$(basename '${{ matrix.stack_path }}')"
          plan_file="${stack_name}_${{ matrix.env }}.tfplan"
          echo "stack_name=$stack_name" >> "$GITHUB_OUTPUT"
          echo "plan_file=$plan_file"   >> "$GITHUB_OUTPUT"

      - name: Terraform Init
        working-directory: ${{ matrix.stack_path }}
        shell: bash
        run: |
          set -euo pipefail
          echo "Working directory: $(pwd)"
          echo "Initializing Terraform for ${{ matrix.stack_path }} in ${{ matrix.env }} environment"
          terraform init \
            -backend-config="./init/backend-${{matrix.env}}.hcl" \
            -reconfigure \
            -no-color

      - name: Terraform Plan
        working-directory: ${{ matrix.stack_path }}
        shell: bash
        run: |
          set -euo pipefail
          echo "Working directory: $(pwd)"
          terraform plan -var-file="./env/${{ matrix.env }}.tfvars" -out="${{ steps.plan_metadata.outputs.plan_file }}" -no-color
          terraform show -json "${{ steps.plan_metadata.outputs.plan_file }}" > "${{ steps.plan_metadata.outputs.plan_file }}.json"

      - name: Compute Plan Stash ID
        id: stackid
        shell: bash
        run: |
          set -euo pipefail
          # stacks/apps/core-api-gateway -> stacks__apps__core-api-gateway
          echo "value=$(echo '${{ matrix.stack_path }}' | sed 's|/|__|g')" >> "$GITHUB_OUTPUT"

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan__${{ matrix.env }}__${{ steps.stackid.outputs.value }}__${{ github.sha }}
          path: |
            ${{ matrix.stack_path }}/${{ steps.plan_metadata.outputs.plan_file }}
            ${{ matrix.stack_path }}/${{ steps.plan_metadata.outputs.plan_file }}.json
            ${{ matrix.stack_path }}/.terraform.lock.hcl
          if-no-files-found: error
          retention-days: 7

  apply-dev:
    name: Terraform Apply (DEV)
    runs-on: ubuntu-latest
    needs: plan

    # Guard: only deploy on pushes to main (never on PR events)
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    permissions:
      contents: read
      id-token: write

    strategy:
      fail-fast: true
      matrix:
        env: [ dev ]
        stack:
          - stack_path: stacks/web/core-api-gateway
            plan_name: core-api-gateway_dev.tfplan

    environment: ${{ matrix.env }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ env.AWS_ROLE_NAME }}
          aws-region: ${{ env.AWS_REGION_OIDC }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      
      - name: Download Prepared Plan
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.stack.plan_name }}
          path: ${{ matrix.stack.stack_path }}

      - name: Terraform Init
        working-directory: ${{ matrix.stack.stack_path }}
        shell: bash
        run: |
          set -euo pipefail
          echo "Working directory: $(pwd)"
          echo "Initializing Terraform for ${{ matrix.stack.stack_path }} in ${{ matrix.env }} environment"
          terraform init \
            -backend-config="./init/backend-${{matrix.env}}.hcl" \
            -reconfigure \
            -no-color

      - name: Terraform Apply (DEV)
        working-directory: ${{ matrix.stack.stack_path }}
        shell: bash
        run: |
          set -euo pipefail
          echo "Working directory: $(pwd)"
          echo "Applying Terraform plan '${{ matrix.stack.plan_name }}' to ${{ matrix.env }} environment"
          terraform apply -auto-approve ${{ matrix.stack.plan_name }} -no-color
